* {
    margin: 0 auto;
    padding: 0;
    font-family: 'ÇÔÃÊ·Òµ¸¿ò';
}
h1 {
    font-size: 30px;
    font-weight: 900;
}
h2 {
    font-size: 16px;
    font-weight: 500;
}

/*-----------------section-----------------*/
.container {
    margin-top:10px;
    text-align: center;
}
#my_page_title {
    margin-top:100px;
    height: 50px;
    display: block;
    margin-bottom: 20px;
 }
.MyReservation, .MyReviewList {
    width: 800px;
    clear: both;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 2px solid lightblue;
    border-radius: 20px;
    text-align: left;
    padding: 15px;
}
.MyReviewList{
    margin-top:0px;
}
.title{
    font-weight: bold;
    font-size:17px;
    margin-bottom:10px;
}
.myMovieList{
    width: 740px;
    height:250px;
    z-index:2;
    overflow-x:scroll;
    white-space: nowrap;
}
.movie{
    border:solid 1px lightgray;
    border-radius: 10px;
    padding-left:15px;
    padding-top:28px;
}
.myMovieList>.movie {
    position: relative;
    display:inline-block;
    height:200px;
}
.movie img {
    width: 100%;
    border: 2px solid white;
}
.movie>div {
    display: inline-block;
}
.poster {
    width: 15%;
    margin-right: 35px;
}
.reservationInfo {
    position: relative;
    top: -15px;
    width: 60%;
    text-align: left;
}
.reservationDetail {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid lightblue;
}
.reservationInfo li{
    list-style-type:none;
    display:inline-block;
    text-decoration: none;
    height:10px;
    padding:10px;
}

.MyReviewList{
    display:block;
    width:800px;
    height:230px;
    overflow-x:scroll;
    white-space: nowrap;
}
.MyReviewList>.MyReview{
    display:inline-block;
    border-radius:10px;
    margin:5px;
    width:48%;
    height:130px;
    background-color:lightgray;
}
.movieTitle{
    margin: 10px 10px;
    display: inline-block;
}
.reviewText{
    margin:10px 10px;
    padding-top:10px;
    border-top:1px solid gray;
}
.button{
	width:20%;
	text-align:right;
	float:right;
}
.delete_review_btn{
	width:35%;
}
.delete_review_btn img{
	width:50%;
	height:5%;
}